    .ant-switch-checked {
        background-color: #FFEB80 !important;
    }
    .custom-select-container {
        display: flex;
        flex-direction: column;
        color : rgb(107 114 128) !important;

      }
      
      .custom-select-label {
        margin-bottom: 8px;
        font-weight: bold;
        color : rgb(107 114 128) !important;

      }
      
      .custom-select {
        width: 100%;
        color : rgb(107 114 128) !important;

      }
      
      .custom-select .ant-select-selector {

        border-radius: 12px !important;
        border : 0 !important;
        color : rgb(107 114 128) !important;
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)) !important;
      }
      
      .custom-select .ant-select-clear {
        background: red;
        border-radius: 50%;
      }
      .custom-select .ant-select-selection-placeholder {
        color: rgb(205, 206, 208) !important; /* Change this to your desired color */
        opacity: 1 !important;  /* Ensure the opacity is set for visibility */
      }
      .custom-select-country .ant-select-selector {
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 12px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius:0 !important ;
        box-shadow: none !important;
        margin : 0 !important;
        border : 0 !important;
        color : rgb(107 114 128) !important;
        background-color: white !important;
        /* filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)) !important; */
        
      }
      .ant-space-item {
        width: 100% !important;
      }
      .ant-btn {
        height: 40px !important;
      }
      .ant-input {
        height: 48px !important;

      }
      .a {
        border-radius: 0%;

      }
     
      .ant-select-selection-item{
        display: flex;
        gap: 10px;
      }
      .ant-select-item-option-content{
        display: flex;
        gap: 10px;
      }
      .menu-item:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
      }
      .ant-select-selector {
        border-radius: 12px !important;
      }
      .select-currency .ant-select-selector {
        border-top-right-radius:0  !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 12px !important;

      }
      .ant-btn {
        height: 48px !important;
      }