@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --text-color: rgba(80, 80, 80, 0.87);
}

html, body, #root, .wrapper {
  height: 100%;
  margin: 0;
  background-attachment: fixed;

}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: #597CE0;

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#597CE0), to(transparent));
  background-image: -webkit-linear-gradient(top, #597CE0, transparent);
  background-image: -moz-linear-gradient(top,#597CE0, transparent);
  background-image: -o-linear-gradient(top, #597CE0, transparent);
  background-image: linear-gradient(to bottom right, #597CE0, transparent);
  
  background-repeat:no-repeat;
  background-image: -webkit-linear-gradient(top, #5BBAFF 0%, #597CE0 300px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;

  overflow-x: hidden;
  overflow-y: hidden;
  
}
